@model Tuple<GeziYazisiSitesi.Modals.Yazi, IQueryable<GeziYazisiSitesi.Modals.Yazi>, IOrderedQueryable<Yorum>, List<Uye>>
@using System.Security.Claims
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Oku";
}
<section id="page-title">
    <div class="container clearfix">
        <!-- Entry Title
            ============================================= -->
        <div class="entry-title">
            <h2>@Html.DisplayFor(Model => Model.Item1.Baslik)</h2>
        </div><!-- .entry-title end -->
    </div>
</section>
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>

<!-- Content
============================================= -->
<section id="content">

    <div style="padding-top:20px" class="content-wrap">

        <div class="container clearfix">

            <div class="single-post nobottommargin">

                <!-- Single Post
                ============================================= -->
                <div class="entry clearfix">


                    <!-- Entry Image
                    ============================================= -->
                    <div class="entry-image bottommargin">
                        <a href="#"><img src="~/img/@Html.DisplayFor(Model => Model.Item1.Resim)" alt="Blog Single"></a>
                    </div><!-- .entry-image end -->
                    <!-- Entry Content
                    ============================================= -->
                    <div class="entry-content notopmargin">
                        <div>@Html.Raw(Model.Item1.Icerik)</div>

                        <div class="clear"></div>

                        <div class="card">
                            <!-- Post Author Info
                            ============================================= -->
                            <div class="card-header">
                                <strong>Yazar: <a asp-action="UyeProfil" asp-controller="Uye" asp-route-id="@Model.Item1.Uye.UyeId">@Html.DisplayFor(Model => Model.Item1.Uye.Ad) @Html.DisplayFor(Model => Model.Item1.Uye.SoyAd)</a></strong>
                                <!-- Entry Meta
                                ============================================= -->
                                <ul style="margin-bottom:0;" class="entry-meta clearfix">
                                    <li><a href="@Url.Action("Yazilar","Yazi", new { sehir = Model.Item1.SehirId })"><i class="fa fa-plane"></i> @ViewBag.Sehir </a></li>
                                    <li><i class="icon-calendar3"></i> @Html.DisplayFor(Model => Model.Item1.Tarih)</li>
                                    <li><i class="fa fa-eye"></i> @Html.DisplayFor(Model => Model.Item1.Goruntulenme)</li>
                                </ul><!-- .entry-meta end -->
                                @if (Context.Session.GetInt32("UyeId") == null)
                                {
                                    <a class="btn btn-warning disabled"><i class="fa fa-thumbs-o-up"></i> Beğenmek için giriş yapmalısınız</a>
                                }
                                else if (ViewBag.Begenmismi)
                                {
                                    <a class="btn btn-success disabled"><i class="fa fa-thumbs-o-up"></i> Beğendiniz</a>
                                }
                                else
                                {
                                    <a asp-action="Begen" asp-route-id="@Model.Item1.YaziId" class="btn btn-success"><i class="fa fa-thumbs-o-up"></i> Beğen</a>
                                }

                                <br />Beğenme Sayısı: @Html.DisplayFor(model => model.Item1.BegenmeSayisi)
                            </div>
                        </div><!-- Post Single - Author End -->
                        <!-- Post Single - Share
                        ============================================= -->
                        <div class="si-share noborder clearfix">
                            <span>Bu Yazıyı Paylaş:</span>
                                <!-- Your share button code -->
                                <div class="fb-share-button"
                                     data-href="https://github.com/"
                                     data-layout="button"
                                     data-size="large">
                                </div>
                        </div><!-- Post Single - Share End -->

                    </div>
                </div><!-- .entry end -->

                <h4>İlgili Yazılar:</h4>

                <div class="related-posts clearfix">

                    <div class="col_half nobottommargin">

                        @foreach (var item in Model.Item2)
                        {
                            <div class="mpost clearfix">
                                <div class="entry-image">
                                    <a asp-action="YaziOku" asp-route-id="@item.YaziId"><img src="~/img/@Html.DisplayFor(modelItem => item.Resim)" alt="Blog Single"></a>
                                </div>
                                <div class="entry-c">
                                    <div class="entry-title">
                                        <h4><a asp-action="YaziOku" asp-route-id="@item.YaziId">@Html.DisplayFor(modelItem => item.Baslik)</a></h4>
                                    </div>
                                    <ul class="entry-meta clearfix">
                                        <li><a href="@Url.Action("Yazilar","Yazi", new { sehir = item.SehirId})"><i class="fa fa-plane"></i> @Html.DisplayFor(modelItem => item.Sehir.Ad)  </a></li>
                                        <li><i class="icon-calendar3"></i> @Html.DisplayFor(modelItem => item.Tarih)</li>
                                        <li><i class="icon-comments"></i> @Html.DisplayFor(modelItem => item.YorumSayisi)</li>
                                        <li><i class="fa fa-thumbs-o-up"></i> @Html.DisplayFor(modelItem => item.BegenmeSayisi)</li>
                                        <li><i class="fa fa-eye"></i> @Html.DisplayFor(modelItem => item.Goruntulenme)</li>
                                    </ul>
                                    <div class="entry-content">
                                        @if (item.Icerik.Length >= 200)
                                        {@Html.Raw(item.Icerik.ToString().Substring(0, 200))}
                                    else
                                    {@Html.Raw(item.Icerik)}
                                        <div class="entry-content">
                                            <a asp-action="YaziOku" asp-route-id="@item.YaziId" class="more-link">Devamını Oku</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>


                </div>

            </div>

            <!-- Comments
            ============================================= -->
            <div id="comments" class="clearfix">

                <h3 id="comments-title"><span>@Model.Item1.YorumSayisi</span> Yorum</h3>

                <!-- Comments List
                ============================================= -->
                <ol class="commentlist clearfix">
                    @foreach (var item in Model.Item3)
                    {
                        <li class="comment byuser comment-author-_smcl_admin even thread-odd thread-alt depth-1" id="li-comment-2">

                            <div id="comment-1" class="comment-wrap clearfix">

                                <div class="comment-meta">

                                    <div class="comment-author vcard">

                                        <span class="comment-avatar clearfix">
                                            <img alt='' src='~/img/@item.Uye.ProfilFoto' class='avatar avatar-60 photo' height='60' width='60' />
                                        </span>

                                    </div>

                                </div>

                                <div class="comment-content clearfix">

                                    <div class="comment-author"><a asp-action="UyeProfil" asp-controller="Uye" asp-route-id="@item.Uye.UyeId" class='url'>@Html.DisplayFor(modelItem => item.Uye.Ad) @Html.DisplayFor(modelItem => item.Uye.SoyAd)</a><span><a>@Html.DisplayFor(modelItem => item.Tarih)</a></span></div>

                                    <p>@Html.DisplayFor(modelItem => item.Icerik)</p>

                                </div>

                                <div class="clear"></div>

                            </div>

                        </li>
                    }
                </ol><!-- .commentlist end -->

                <div class="clear"></div>

                <!-- Comment Form
                ============================================= -->
                <div id="respond" class="clearfix">

                    <h3><span>Yorum Yap</span></h3>
                    @if (Context.Session.GetInt32("UyeId") == null)
                    {
                        <form class="clearfix" id="commentform">
                            <input type="hidden" name="YazıId" id="YazıId" value="@Html.DisplayFor(Model => Model.Item1.YaziId)" />
                            <div class="col_full">
                                <textarea disabled name="Yorum" id="Yorum" cols="58" rows="7" tabindex="4" class="sm-form-control">Yorum yapabilmek için giriş yapmalısınız</textarea>
                            </div>

                            <div class="col_full nobottommargin">
                                <button disabled name="submit" type="submit" id="submit-button" tabindex="5" value="Submit" class="button button-3d nomargin">Yorumu Gönder</button>
                            </div>

                        </form>
                    }
                    else
                    {
                        <form class="clearfix" asp-action="Oku" method="post" id="commentform">
                            <input type="hidden" name="YazıId" id="YazıId" value="@Html.DisplayFor(Model => Model.Item1.YaziId)" />
                            <div class="col_full">
                                <textarea name="Yorum" id="Yorum" cols="58" rows="7" tabindex="4" class="sm-form-control"></textarea>
                            </div>

                            <div class="col_full nobottommargin">
                                <button name="submit" type="submit" id="submit-button" tabindex="5" value="Submit" class="button button-3d nomargin">Yorumu Gönder</button>
                            </div>

                        </form>
                    }

                </div><!-- #respond end -->

            </div><!-- #comments end -->

        </div>

    </div>

</section><!-- #content end -->
@section scripts{
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
}