@using X.PagedList
@using X.PagedList.Mvc
@using X.PagedList.Mvc.Core
@model Tuple<IPagedList<GeziYazisiSitesi.Modals.Yazi>, List<GeziYazisiSitesi.Modals.Sehir>>

@{
    ViewData["Title"] = "Yazilar";
}
<section id="page-title">
    <div class="container clearfix">
        <h1>@ViewBag.SehirAdi @ViewBag.Baslık Yazılar</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Yazilar","Yazi", new { sehir = ViewBag.SehirId})">En Son</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Yazilar","Yazi", new { sehir = ViewBag.SehirId, siralama = "goruntulenme" })">En Çok Okunan</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Yazilar","Yazi", new { sehir = ViewBag.SehirId, siralama = "begenme" })">En Çok Beğenilen</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Yazilar","Yazi", new { sehir = ViewBag.SehirId, siralama = "yorum" })">En Çok Yorum Alan</a></li>
        </ol>
    </div>
</section>
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <div id="posts" class="post-grid grid-container grid-3 clearfix" data-layout="fitRows">
                @foreach (var item in Model.Item1)
                {

                    <div class="entry clearfix">
                        <div class="entry-image">
                            <a asp-action="YaziOku" asp-route-id="@item.YaziId"><img class="image_fade" src="~/img/@Html.DisplayFor(modelItem => item.Resim)" alt="@Html.DisplayFor(modelItem => item.Baslik)"></a>
                        </div>
                        <div class="entry-title">
                            <h2><a asp-action="YaziOku" asp-route-id="@item.YaziId">@Html.DisplayFor(modelItem => item.Baslik)</a></h2>
                        </div>
                        <ul class="entry-meta clearfix">
                            <li><a href="@Url.Action("Yazilar","Yazi", new { sehir = item.SehirId })"><i class="fa fa-plane"></i> @Html.DisplayFor(modelItem => item.Sehir.Ad)  </a></li>
                            <li><i class="icon-calendar3"></i> @Html.DisplayFor(modelItem => item.Tarih)</li>
                            <li class="d-none d-sm-block"><i class="icon-comments"></i> @Html.DisplayFor(modelItem => item.YorumSayisi)</li>
                            <li class="d-none d-sm-block"><i class="fa fa-thumbs-o-up"></i> @Html.DisplayFor(modelItem => item.BegenmeSayisi)</li>
                            <li><i class="fa fa-eye"></i> @Html.DisplayFor(modelItem => item.Goruntulenme)</li>

                        </ul>
                        <div class="entry-content">
                            <p>
                                @if (item.Icerik.Length >= 200)
                                {@Html.Raw(item.Icerik.ToString().Substring(0, 200)) }
                            else
                            { @Html.Raw(item.Icerik)}
                            </p>
                            <a asp-action="YaziOku" asp-route-id="@item.YaziId" class="more-link">Devamını Oku</a>
                        </div>
                    </div>

                }
            </div>
            <!-- Pagination
            ============================================= -->
            <div class="row mb-3">
                <div class="col-12 text-center">
                    <div class="pagination">
                        @Html.PagedListPager(Model.Item1, sayfa => Url.Action("Yazilar", new { sayfa, sehir = ViewBag.SehirId, siralama = ViewBag.Siralama }))
                    </div>
                </div>
            </div>
            <!-- .pager end -->

        </div>
    </div>
</section>
