@model IEnumerable<GeziYazisiSitesi.Modals.Yazi>

@{
    ViewData["Title"] = "Index";
}
<section id="page-title">
    <div class="container clearfix">
        <h1>Yazılar Kontrol Paneli</h1>
    </div>
</section>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Baslik)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Icerik)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Resim)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tarih)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Onay)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BegenmeSayisi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.YorumSayisi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Goruntulenme)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Baslik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Icerik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tarih)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Onay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BegenmeSayisi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YorumSayisi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Goruntulenme)
            </td>
            <td>
                <a asp-action="Duzenle" asp-route-id="@item.YaziId">Düzenle</a> |
                <a asp-action="Oku" asp-route-id="@item.YaziId">Oku</a> |
                <a asp-action="Sil" asp-route-id="@item.YaziId">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
